# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
*.Auth.jsx


# Ignore frontend pages

ExamNotesAI/client/src/Pages/Home.jsx
ExamNotesAI/client/src/Pages/Pricing.jsx



# Ignore specific components
ExamNotesAI/client/src/Components/Navbar.jsx
ExamNotesAI/client/src/Components/TopicForm.jsx

# Ignore specific pages
ExamNotesAI/client/src/Pages/Notes.jsx